/*--pet show strat here--*/
.pets-show {
    padding: 4em 0em 0em 0em;
    background: #F8F8F8;
}
.pets-show-main {
    padding: 0px;
}
.pets-show h3 {
    font-size: 2em;
    color: #37485C;
    margin-top: 5px;
}
.pets-show-left h4 {
    font-size: 1.3em;
    margin: 0.7em 0em;
    text-align: left;
    color: #954925;
}
.pets-show-left p {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
    text-align: left;
}
/*--pet show end here--*/